{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
<main class="container p-5">
    <div class="card text-center">
        <div class="card-header">
            Assignment 03
        </div>
        <div class="card-body">
            <h5 class="card-title">Osama Mohamed Ragab</h5>
            <p class="card-text">Section: 1</p>
            <p class="card-text">ID: 1000115132</p>
            <a href="/login" class="btn btn-primary">Login</a>
            <p class="text-center" style="padding: 1em;"><a href="/register" style="color:#3282b8">Register</a></p>
        </div>
    </div>
</main>
{% endblock %}